.pulvisfront {
    width: 100%;
    background-color: #FCC133;
    opacity: 0.9;
}

.logo {
    position: relative;
    margin: 35px;
    margin-top: -250px;
}

.topnav {
    background-color: #C2C5B0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-top: -19px;
}

.topnav a {
    float: left;
    color: #000000;
    text-align: right;
    padding: 14px 187px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Zen Antique Soft', serif;
}

.topnav a:hover {
    background-color: rgb(240, 183, 109);
    color: black;
}

.topnav a.active {
    background-color: #8E7B50;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
    width: 70px;
    margin: 5px;
}

.fa:hover {
    opacity: 0.7;
    background-color: #c91818;
    transform: translateY(-5px);
    transition: 250ms;
}

.fa-facebook {
    position: relative;
    background: #3B5998;
    color: white;
    float: right;
    bottom: 30px;
    margin-right: 100px;
}

.fa-instagram {
    position: relative;
    background: #55ACEE;
    color: white;
    float: right;
    bottom: 30px;
    margin-right: 20px;
}

footer {
    background-color: #C2C5B0;
    height: 100px;
}

.tekstbox1 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.tekstbox2 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-left: 150px;
    margin-top: -75px;
}

.tekstbox3 {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin-left: 400px;
    margin-top: -75px;
}

body {
    margin: 0;
    padding: 0;
}